.article_Text_Container {
    padding: 1rem 2rem;
    flex-direction: column;
    gap: 4.5rem;
}

.article_Text_Container .title_description .title {
    font-size: 3rem;
    line-height: 3.1rem;
    font-weight: var(--regular);
}

.article_Text_Container .description {
    font-size: 1.3rem;
    width: 98%;
    margin-top: .9rem;
}

.article_creator {
    justify-content: space-between;
}

.article_creator__avatar_image_text {
    align-items: var(--center-align);
    gap: .8rem;
}

.article_creator__avatar_image {
    height: 35px;
    width: 35px;
}

.article_creator__text {
    height: 22px;
}

.article_creator__text__name,
.article_creator__text__ocupation {
    line-height: 1.1rem;
    display: block;
}

.article_creator__text__name {
    font-weight: var(--regular);
    font-size: 1.3rem;
}

.article_creator__share_icon {
    background-color: var(--very-dark-color);
    justify-content: var(--center-align);
    align-items: var(--center-align);
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.article_creator__share_icon .icon {
    color: var(--very-light-color);
    cursor: var(--pointer);
    font-size: 1.4rem;
}

.article_creator__share_icon:hover {
    background-color: var(--contrast-color);
    transition: var(--transition-effect);
}

@media(min-width: 420px) {
    .article_Text_Container .title_description .title {
        font-size: 4rem;
        line-height: 4rem;
    }

    .article_Text_Container .description {
        font-size: 1.6rem;
        width: 88%;
    }

    .article_creator__avatar_image {
        height: 45px;
        width: 45px;
    }

    .article_creator__text {
        height: 20px;
    }

    
    .article_creator__text__name {
        font-size: 1.8rem;
    }

    .article_creator__text__ocupation {
        font-size: 1.1rem;
        margin-top: .3rem;
    }

    .article_creator__share_icon .icon {
        font-size: 1.7rem;
    }

    .article_creator__share_icon {
        height: 35px;
        width: 35px;
    }

}