.carrerProgram_Section {
    justify-content: var(--center-align);
    height: 80vh;
}

.carrerProgram_Section,
.carrerProgram_GeralContainer {
    flex-direction: column;
}

.carrerProgram_GeralContainer {
    align-items: var(--center-align);
    gap: 3rem;
}

.carrerProgram_Section .carrerProgram__image {
    height: 100px;
    width: 125px;
}

.carrerProgram_Section .title_description__title {
    text-align: var(--center-align);
    font-size: 4.2rem;
    line-height: 5rem;
}

.carrerProgram_Section .medium_title,
.carrerProgram_Section .big_title {
    text-transform: uppercase;
    display: block;
}

.carrerProgram_Section .big_title {
    font-weight: var(--extraBold);
    font-size: 7.1rem;
}

.carrerProgram_Section .medium_title {
    margin-top: -0.7rem;
    font-size: 2.5rem;
}

.carrerProgram_Section .title_description_description,
.carrerProgram_Section .carrerProgram_button {
    text-align: var(--center-align);
    margin-top: var(--low-rem);
}

.carrerProgram_Section .title_description_description {
    font-weight: var(--light);
    font-size: 1.1rem;
    width: 90%;
}

.carrerProgram_Section .carrerProgram_button {
    background-color: var(--very-dark-color);
    width: var(--full-size);
    border-radius: 50px;
    padding: .8rem;
}

.carrerProgram_Section .carrerProgram_button a {
    color: var(--very-light-color);
    font-weight: var(--regular);
    font-size: 1.4rem;
}