.container {
    border: 2px solid var(--soft-dark-color);
    border-radius: 50px;
    height: 40px;
}

.container,
input[type="email"] {
    width: 272px;
}

.email_container {
    height: var(--full-size);
    justify-content: end;
}

.email_submit {
    background-color: var(--very-light-color);
    border-radius: 30px;
    position: relative;
    height: 28px;
    bottom: -4px;
    width: 70px;
    right: 4px;
}

.email_submit:hover {
    background-color: var(--contrast-color);
    transition: var(--transition-effect);
    cursor: var(--pointer);
}

input[type="email"] {
    color: var(--contrast-color);
    background-color: transparent;
    padding: 0 0 0 2rem;
    position: absolute;
    border-radius: 30px;
    height: 37px;
}

#error-msg {
    text-align: var(--center-align);
    color: var(--contrast-color);
    font-size: 14px;
    margin-top: 4px;
    display: none;
}