.container {
    border-radius: 50px;
    border: 2px solid var(--soft-dark-color);
    height: 40px;
}

.container,
input[type="email"] {
    width: 272px;
}

.email_container {
    justify-content: end;
    height: var(--full-height);
}

.email_submit {
    position: relative;
    width: 70px;
    background-color: var(--very-light-color);
    height: 28px;
    right: 4px;
    bottom: -4px;
    border-radius: 30px;
}

.email_submit:hover {
    background-color: var(--contrast-color);
    transition: var(--transition-effect);
    cursor: var(--pointer);
}

input[type="email"] {
    color: var(--contrast-color);
    padding: 1rem;
    background-color: transparent;
    position: absolute;
    height: 37px;
    border-radius: 30px;
}

#error-msg {
    display: none;
    color: var(--contrast-color);
    font-size: 14px;
    margin-top: 4px;
    text-align: var(--center-align);
}