.expertiseAreas_Section {
    background-color: var(--very-dark-color);
    color: var(--very-light-color);
    padding: 3rem 0;
}

.expertiseAreas_Title_Container .title_description .title_description__title,
.expertiseAreas_card .card__title {
    font-weight: var(--regular);
}

.expertiseAreas_Title_Container .title_description .title_description__title {
    line-height: 5.5rem;
    font-size: 6rem;
}

.expertiseAreas_Title_Container .title_description .title_description_description,
.expertiseAreas_card .card__description {
    font-weight: var(--light);
}

.expertiseAreas_card .card__description,
.expertiseAreas_Title_Container .title_description .title_description_description {
    font-size: 1.2em;
}

.expertiseAreas_Title_Container .title_description .title_description_description {
    margin: 1.7rem auto 0;
    width: 95%;
}

.expertiseAreas_Title_Container .title_description .title_description_description,
.expertiseAreas_card {
    text-align: var(--center-align);
}

.expertiseAreas_Text_Image_Container {
    flex-direction: column-reverse;
    margin-top: 4rem;
}

.expertiseAreas_card {
    align-items: var(--center-align);
    flex-direction: column;
    margin-top: 3rem;
}

.expertiseAreas_card .card__title {
    font-size: 3.2rem;
}

.expertiseAreas_card .card__description {
    width: 78%;
}

@media(min-width: 420px) {
    .expertiseAreas_Title_Container .title_description .title_description__title {
        font-size: 8.2em;
        text-align: center;
        line-height: 7rem;
    }

    .expertiseAreas_Title_Container .title_description .title_description_description {
        font-size: 1.7rem;
        margin-top: 3rem;
    }

    .expertiseAreas_card .card__title {
        font-size: 4.5rem;
    }
    
    .expertiseAreas_card .card__description {
        font-size: 1.4rem;
        width: 80%;
    }
}