.faqS_section {
    background-color: var(--very-dark-color);
    justify-content: var(--center-align);
    color: var(--very-light-color);
    height: 90vh;
}

.faqS_Card,
.faqS_section .header {
    background-color: var(--dark-color);
}

.faqS_Card,
.answerQuestion_Box__question,
.answerQuestion_Box__answer {
    border: 1px solid var(--soft-dark-color);
}

.faqS_Card {
    border-radius: 1.5rem;
    padding: 2.5rem 2rem;
}

.faqS_section .header {
    align-items: var(--center-align);
    flex-direction: row;
    gap: var(--low-rem);
}

.faqS_Card .header .header__image {
    height: 25px;
    width: 40px;
}

.faqS_Card .header .header__title {
    font-size: 3rem;
}

.answerQuestion_Box__question,
.answerQuestion_Box__answer {
    border-radius: .8rem;
}

.answerQuestion_Box__question {
    align-items: var(--center-align);
    justify-content: space-between;
    width: var(--full-size);
    padding: var(--low-rem);
    display: flex;
    height: 45px;
}

.answerQuestion_Box__answer {
    color: var(--soft-light-color);
    padding: 1rem 2rem 1rem 1rem;
    margin-top: .5rem;
    height: 125px;
}

.answerQuestion_Box {
    margin-top: .7rem;
}

.question {
    font-size: 1.1rem;
    width: 80%;
}

.expandButton {
    border: 1px solid var(--soft-dark-color);
    justify-content: var(--center-align);
    background-color: var(--dark-color);
    align-items: var(--center-align);
    color: var(--very-light-color);
    cursor: var(--pointer);
    border-radius: 50%;
    font-size: 1.2rem;
    display: flex;
    height: 20px;
    width: 20px;
}

.expandButton:hover {
    background-color: var(--contrast-color);
    transition: var(--transition-effect);
    color: var(--dark-color);
}