.footer {
    background-color: var(--very-dark-color);
}

.footer_Container {
    align-items: var(--center-align);
    justify-content: space-between;
}

.footer_Container__logo {
    height: 30px;
    width: 45px;
}

.footer_Container__icon {
    color: var(--very-light-color);
    font-size: 3rem;
}

.footer_Container_socialMedia_icons {
    flex-direction: row-reverse;
    cursor: var(--pointer);
    gap: 1rem;
}

.footer_Container_socialMedia_icons i:hover {
    transition: var(--transition-effect);
    color: var(--contrast-color);
}