.header,
.homePage_Section,
.carrerProgram_Section,
.expertiseAreas_Section,
.expertiseAreas_Section,
.partnership_Section,
.faqS_section,
.article_Section,
.footer {
    flex-direction: column;
    align-items: var(--center-align);
    display: flex;
}

.homePage_GeralContainer,
.carrerProgram_GeralContainer,
.expertiseAreas_GeralContainer,
.partnership_GeralContainer,
.faqS_GeralContainer {
    padding: 7rem 2.4rem;
    width: 320px;
}

.article_GeralContainer {
    width: 320px;
}

.header_GeralContainer {
    padding: 2rem 2.4rem;
    width: 320px;
}

.footer_GeralContainer {
    padding: 1rem 2.4rem;
    width: 320px;
}

img {
    width: var(--full-size);
}