.homePage_Image_Container {
    display: none;
}

.homePage_Section {
    background-color: var(--very-dark-color);
    justify-content: var(--center-align);
    color: var(--very-light-color);
    height: 93dvh;
}

.homePage_GeralContainer,
.homePage_Section .title_description {
    flex-direction: column;
}

.homePage_GeralContainer {
    gap: 7rem;
}

.homePage_Section .title_description {
    align-items: var(--center-align);
    gap: 1.4rem;
}

.homePage_Section .title_description__title {
    font-size: 4.7rem;
}

.homePage_Section .title_description__title .big_title {
    font-size: 6.8rem;
    margin-top: -3.2rem;
}

.homePage_Section .title_description__title .medium_title {
    font-size: 3.72rem;
    margin-top: -3rem;
}

.homePage_Section .title_description__title .medium_title,
.homePage_Section .title_description__title .big_title {
    display: block;
}

.homePage_Section .title_description__description {
    text-align: var(--center-align);
    font-weight: var(--very-light);
    font-size: 1.4rem;
    width: 80%;
}