.article_Section {
    position: relative;
}

.shareOverlay {
    position: absolute;
    background-color: var(--very-dark-color);
    align-items: var(--center-align);
    color: var(--very-light-color);
    justify-content: space-between;
    padding: 0rem 2rem;
    display: flex;
    width: 320px;
    height: 60px;
    bottom: 0;
}

#shareButtonOff {
    background-color: var(--very-light-color);
    justify-content: var(--center-align);
    align-items: var(--center-align);
    color: var(--very-dark-color);
    border-radius: 50%;
    font-size: 1.4rem;
    display: flex;
    height: 30px;
    width: 30px;
}

#shareButtonOff:hover {
    background-color: var(--contrast-color);
    cursor: var(--pointer);
}

.overlay_text {
    font-weight: var(--very-light);
    font-size: 1.7rem;
}

.social_Media_Overlay {
    gap: .8rem;
}

.social_Media_Overlay i {
    font-size: 2.7rem;
}

.twitter {
    margin-right: -.3rem;
}

.displayBox {
    display: none;
}