.partnership_IconComposition_Container {
    text-align: var(--center-align);
    flex-direction: column;
    margin-top: 5rem;
    gap: 4rem;
}

.partnership_IconComposition_Container .compositionBox__icon {
    font-size: 6rem;
}

.partnership_IconComposition_Container .compositionBox_title {
    margin-top: var(--low-rem);
    font-size: 1.5rem;
}

.partnership_IconComposition_Container .compositionBox_description {
    margin: auto;
    width: 70%;
}