.partnership_Section .title_description {
    text-align: var(--center-align);
}

.partnership_Section .title_description__title {
    font-weight: var(--regular);
    line-height: 3.5rem;
    font-size: 3.5rem;
}

.partnership_Section .title_description__description {
    font-weight: var(--light);
    margin: 1rem auto 0;
    font-size: 1.8rem;
    width: 85%;
}

.partnership_Icon_Container {
    align-items: var(--center-align);
    flex-direction: column;
    margin-top: 7rem;
    gap: 2.5rem;
}

.partnership_Icon_Container__image {
    height: 65px;
    width: 65px;
}