.loading-gif {
    max-width: 500px;
}

.pre-loader {
    height: var(--full-size);
    justify-content: center;
    width: var(--full-size);
    background: #131212;
    align-items: center;
    position: fixed;
    display: flex;
    z-index: 100;
    top: 0;
    left: 0;
}

.pre-loader.hidden {
    animation-fill-mode: forwards;
    animation: fadeOut 1s;
}

@keyframes fadeOut {
    100% {
        visibility: hidden;
        opacity: 0;
    }
}