* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

* {
    color: black;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}