.expertiseAreas_Image_Container {
    width: var(--full-size);
    overflow: hidden;
    height: 200px;
}

.expertiseAreas_Image_Container,
#nextBtn,
#prevBtn {
    position: relative;
}

.expertiseAreas__slider-box,
.carouselItem,
.carouselItem img,
.buttons {
    height: var(--full-size);
    width: var(--full-size);
}

.expertiseAreas__slider-box {
    position: absolute;
}

.carouselItem {
    display: none;
}

.carouselItem img {
    object-fit: cover;
}

#nextBtn,
#prevBtn {
    background-color: --very-light-color;
    cursor: var(--pointer);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 0;
}

#nextBtn {
    left: 5px;
}

#prevBtn {
    right: 5px;
}

.buttons {
    align-items: var(--center-align);
    justify-content: space-between;
}

.nextButton {
    transform: rotate(180deg);
}