:root {

    --secundary-contrast-color: #77B6EA;
    --soft-light-color: #D3D3D3;
    --soft-dark-color: #282828;
    --contrast-color: #E2A0FF;
    --very-light-color: #FFF;
    --very-dark-color: #000;
    --error-color: #F62950;
    --dark-color: #0B0B0B;

    --extraBold: 800;
    --regular: 600;
    --light: 300;
    --very-light: 200;

    --transition-effect: 0.4s ease-in-out;
    --center-align: center;
    --pointer: pointer;
    --full-size: 100%;
    --low-rem: 1rem;
}

.italic {
    font-style: italic;
}

.flex {
    display: flex;
}